# ignore ALL files in secrets directory
website/secrets/

# ignore node_modules
website/node_modules/

# ignore client dist directory
website/client/dist/

# ignore public files directory
website/public/files/