@import "variables.less";

#castleImage,
#wandernImage{
	border-radius: @border-radius;
	width: 50%;
	object-fit: cover;
	object-position: top center;
}

@media only screen and (min-width: 450px) {
    #castleImage,
    #wandernImage{
        width: 40%;
    }
}

@media only screen and (min-width: 900px){
	#castleImage,
    #wandernImage{
        width: 40%;
    }
}