@import 'variables.less';

.bookingNavbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    background-color: @background-color-secondary;

    .bookingLogo{
        width: 150px;
    }

    .backToPreviousSite{
        display: flex;
        flex-direction: row;
        color: white;
        padding-left: 25px;
        cursor: pointer;

        img{
            width: 30px;
            filter: invert(1);
        }

        p{
            margin: auto;
        }

        &:active,
        &:hover{
            p{
                color: @highlight-color-primary;
            }
        }
    }
}

.dialog{
    width: 90%;
    margin: 100px auto;
    background-color: @background-color-secondary;
    border-radius: @border-radius;

    .dialogNavigation{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 80%;
        padding-bottom: 20px;
        margin: auto;

        .dialogProgress{
            margin: 0;
            color: white;
        }

        .dialogBack,
        .dialogForward{
            border-style: none;
            border-radius: @border-radius;
            background-color: @highlight-color-primary;
            color: black;
            padding: 5px 15px;
            cursor: pointer;

            &:hover,
            &:active{
                background-color: @highlight-color-secondary;
                color: white;
            }

            &:disabled,
            &[disabled]{
                background-color: lightgrey;
                color: black;
                cursor: default;
            }
        }
    }
}

.bookingDialog{
    padding-top: 20px;
}

.dialogStepOne{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0 20%;

    .dialogStepOnePart{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 30px;

        div{
            display: flex;
            flex-direction: column;

            input,
            select{
                padding: 5px 10px;
                border-style: none;
                border-radius: @border-radius;
            }
        }
    }
}

.dialogStepTwo{
    padding: 20px;

    h2{
        color: white;
        margin-top: 0;
    }

    .availableRooms{
        display: flex;
        flex-direction: column;

        div{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            border-bottom: 1px white solid;
            margin: auto;
            margin-bottom: 20px;
            padding-bottom: 10px;
            color: white;

            img{
                width: 50%;
                height: max-content;
                margin: auto;
                border-radius: @border-radius;
            }

            ul{
                width: 30%;
                line-height: 1.1;
                font-size: 0.7rem;

                p{
                    font-size: 1.3rem;
                    line-height: 0;
                    color: @highlight-color-primary;
                }
            }

            .addAvailable{
                display: flex;
                flex-direction: column;
                width: 100%;
                border-style: none;
                margin: auto;

                .addAvailableButton{
                    border-style: none;
                    border-radius: @border-radius;
                    padding: 5px 0px;
                    background-color: @highlight-color-primary;
                    cursor: pointer;

                    &:active,
                    &:hover{
                        background-color: @highlight-color-secondary;
                        color: white;
                    }
                }
            }
        }
    }

    .selectedRooms{
        width: 90%;
        margin: auto;

        .selectedBasic,
        .selectedFamily,
        .selectedPremium{
            display: flex;
            justify-content: space-between;
            color: white;
            font-size: 0.8rem;

            .delete{
                height: 20px;
                filter: invert(1);
                border-radius: 15px;
                cursor: pointer;

                &:hover,
                &:active{
                    filter: invert(0);
                    background-color: @highlight-color-primary;
                }
            }

            h3{
                margin: 0;
            }
        }
    }
}

@media only screen and (min-width: 360px) {
    .dialogStepTwo{
        .selectedRooms{
            width: 80%;
        }
    }
}

@media only screen and (min-width: 480px) {
    .dialog{
        .dialogNavigation{
            width: 50%;
        }
    }

    .dialogStepOne{
        .dialogStepOnePart{
            flex-direction: row;
        }
    }

    .dialogStepTwo{
        .availableRooms{
    
            div{
                flex-wrap: nowrap;
    
                img{
                    width: 30%;
                }
    
                ul{
                    font-size: 1rem;
                }

                .addAvailable{
                    width: 30%;
                }
            }
        }

        .selectedRooms{
            width: 70%;

            .selectedBasic,
            .selectedFamily,
            .selectedPremium{
                font-size: 1rem;
            }
        }
    }
    
        
}

@media only screen and (min-width: 600px) {
    .dialog{
        width: 70%;
    }
}

@media only screen and (min-width: 900px) {
    .dialog{
        width: 50%;
    }

    .dialogStepTwo{
        .availableRooms{
            flex-direction: row;

            div{
                width: 90%;
                flex-direction: column;
                margin-top: 0;
                border-style: none;

                img{
                    width: 90%;
                }

                .addAvailable{
                    width: 90%;
                    margin-bottom: 0;
                }
            }
        }

        .selectedRooms{
            width: 65%;
        }
    }
}

@media only screen and (min-width: 1150px) {
    .dialog{
        width: 50%;
    }

    .dialogStepOne{
        padding: 0 30%;
    }

    .dialogStepTwo{
        .selectedRooms{
            width: 50%;
        }
    }
}