@import "variables.less";

.meetingOverview{
    width: 80%;
    padding: 20px;
    background-color: @background-color-secondary;
    margin: 50px auto;
    border-radius: @border-radius;
    color: white;

    .meetingRooms,
    .meetingRequest{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            text-align: center;
        }

        p{
            text-align: justify;
        }

        .cardUnderline{
            height: 2px;
            width: 60%;
            margin: auto;
            background-color: white;
        }

        .meetingLink{
            background-color: @highlight-color-primary;
            border-radius: @border-radius;
            padding: 10px 25px;
            color: black;

            &:hover,
            &:active{
                background-color: @highlight-color-secondary;
                color: white;
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    .meetingOverview{
        width: 60%;

        .meetingRooms,
        .meetingRequest{
            width: 70%;
        }
    }
}

@media only screen and (min-width: 1100px) {
    .meetingOverview{
        display: flex;

        .meetingRooms,
        .meetingRequest{
            width: 40%;
        }
    }
}
