<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Grandline Hotel</title>
	<link rel="stylesheet" href="../style.css">
	<script defer src="../bundle.js"></script>
</head>

<body>
	<!-- <div class="aktivitätenText">
		<h1 class="aktivitätenHeadline"> Urlaubsregion </h1>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
			sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
			sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
			Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
		</p>
	</div> -->
	<main>
		<div class="aktivitätenContent1">
			<div class="wandernHeadline">
				<h1>
					Wandern
				</h1>
				<div class="cardUnderline"></div>
				<p>
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
					sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
					sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
					Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
				</p>
			</div>
			<img id="wandernImage" src="../assets/imageWandern.jpg" alt="ein Mann wandert">

		</div>
	</main>

	<div class="aktivitätenContent2 cardReverse">
		<img id="castleImage" src="../assets/imagecastle.jpg" alt="eine Burg">

		<div class="castleHeadline">
			<h1> Ausflugsziele </h1>
			<p>
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
				sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
				sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
				Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
			</p>
		</div>

	</div>

</body>