<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Buchen</title>
        <link rel="stylesheet" href="../style.css">
        <link rel="icon" href="../assets/final_logo_3.svg">
        <script defer src="../bundle.js"></script>
    </head>
    <body>
        <div class="bookingNavbar">
            <img class="bookingLogo" src="../assets/final_logo_2.svg">
            <div class="backToPreviousSite">
                <img src="../assets/icons/arrow_back.svg">
                <p>Zurück</p>
            </div>
        </div>
        <div class="dialog">
            <div class="bookingDialog">
                
            </div>
            <div class="dialogNavigation">
                <button class="dialogBack">Zurück</button>
                <p class="dialogProgress">1 / 3</p>
                <button class="dialogForward">Weiter</button>
            </div>
        </div>
        <template id="one">
            <div class="dialogStepOne">
                <h2>Reisedaten eingeben:</h2>
                <div class="dialogStepOnePart">
                    <div>
                        <label for="arrivalDialog">Anreise:</label>
                        <input type="date" id="arrivalDialog">
                    </div>

                    <div>
                        <label for="departureDialog">Abreise:</label>
                        <input type="date" id="departureDialog">
                    </div>
                </div>
                
                <div class="dialogStepOnePart">
                    <div>
                        <label for="adultsDialog">Erwachsene:</label>
                        <select name="adultsDialog" id="adultsDialog" size="1">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                    </div>

                    <div>
                        <label for="childrenDialog">Kinder:</label>
                        <select name="childrenDialog" id="childrenDialog" size="1">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                    </div>

                    <div>
                        <label for="roomsDialog">Zimmer:</label>
                        <select name="roomsDialog" id="roomsDialog" size="1">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>    
                    </div>
                </div>
            </div>
        </template>
        <template id="two">
            <div class="dialogStepTwo">
                <h2>Verfügbare Zimmer:</h2>
                <div class="availableRooms">
        
                </div>
                <h2>Ausgewählte Zimmer:</h2>
                <div class="selectedRooms">
                    <div class="selectedBasic">
                        <img class="delete" src="../assets/icons/delete.svg">
                        <h3 class="amount">0 x basic</h3>
                        <h3>149 €/Nacht</h3>
                    </div>
                    <div class="selectedFamily">
                        <img class="delete" src="../assets/icons/delete.svg">
                        <h3 class="amount">0 x family</h3>
                        <h3>149 €/Nacht</h3>
                    </div>
                    <div class="selectedPremium">
                        <img class="delete" src="../assets/icons/delete.svg">
                        <h3 class="amount">0 x premium</h3>
                        <h3>149 €/Nacht</h3>
                    </div>
                </div>
            </div>
        </template>
        <template id="addBasic">
            <div class="basicAvailable">
                <img src="../assets/rooms/basicRoom.jpeg">
                <ul>
                    <p>Basic</p>
                    <li>Balkon</li>
                    <li>Schreibtisch</li>
                    <li>TV, Internet</li>
                    <li>Badezimmer</li>
                    <li>barrierefrei</li>
                    <li>inkl.Frühstück</li>
                </ul>
                <div class="addAvailable">
                    <p>149€ pro Nacht</p>
                    <button class="addAvailableButton">Hinzufügen</button>
                </div>
            </div>
        </template>
        <template id="addFamily">
            <div class="familyAvailable">
                <img src="../assets/rooms/familyRoom.jpeg">
                <ul>
                    <p>Family</p>
                    <li>Balkon</li>
                    <li>Schreibtisch</li>
                    <li>TV, Internet</li>
                    <li>Badezimmer</li>
                    <li>barrierefrei</li>
                    <li>inkl.Frühstück</li>
                </ul>
                <div class="addAvailable">
                    <p>179€ pro Nacht</p>
                    <button class="addAvailableButton">Hinzufügen</button>
                </div>
            </div>
        </template>
        <template id="addPremium">
            <div class="premiumAvailable">
                <img src="../assets/rooms/premiumRoom.jpeg">
                <ul>
                    <p>Premium</p>
                    <li>Balkon</li>
                    <li>Schreibtisch</li>
                    <li>TV, Internet</li>
                    <li>Badezimmer</li>
                    <li>barrierefrei</li>
                    <li>inkl.Frühstück</li>
                </ul>
                <div class="addAvailable">
                    <p>229€ pro Nacht</p>
                    <button class="addAvailableButton">Hinzufügen</button>
                </div>
            </div>
        </template>
        <template id="three">
            <form class="dialogStepThree">
                <h2>Persönliche Daten</h2>
                <div class="pInput">
                    <label for="gender">Geschlecht:</label>
                    <select name="gender" id="gender" required>
                        <option value="m">
                            männlich
                        </option>
                        <option value="w">
                            weiblich
                        </option>
                        <option value="d">
                            divers
                        </option>
                    </select>
                </div>

                <div class="pContainer">
                    <div class="pInput">
                        <label for="pFirstName">Vorname:</label>
                        <input type="text" name="pFirstName" id="pFirstName" required>
                    </div>

                    <div class="pInput">
                        <label for="pLastName">Nachname:</label>
                        <input type="text" name="pLastName" id="pLastName" required>
                    </div>
                </div>

                <div class="pContainer">
                    <div class="pInput">
                        <label for="pEmail">Email:</label>
                        <input type="email" name="pEmail" id="pEmail" placeholder="me@example.com" required>
                    </div>

                    <div class="pInput">
                        <label for="pPhoneNumber">Telefon:</label>
                        <input type="text" name="pPhoneNumber" id="pPhoneNumber" required>
                    </div>
                </div>

                <div class="pContainer">
                    <div class="pInput">
                        <label for="pStreet">Straße:</label>
                        <input type="text" name="pStreet" id="pStreet" required>
                    </div>
                    <div class="pInput">
                        <label for="pHouseNumber">Hausnummer:</label>
                        <input type="text" name="pHouseNumber" id="pHouseNumber" required>
                    </div>
                </div>

                <div class="pContainer">
                    <div class="pInput">
                        <label for="pZipCode">PLZ:</label>
                        <input type="text" name="pZipCode" id="pZipCode" required>
                    </div>
                    <div class="pInput">
                        <label for="pPlace">Ort:</label>
                        <input type="text" name="pPlace" id="pPlace" required>
                    </div>
                </div>
            </form>
        </template>
        <template id="four">
            <div class="dialogStepFour">
                <div class="personalData">
                    <h3>Persönliche Daten</h3>
                    <p class="personalDataName"></p>
                    <p class="personalDataAddress"></p>
                    <p class="personalDataPhone"></p>
                    <p class="personalDataEmail"></p>
                </div>
                <div class="totalSelectedRooms">
                    <h3>Ausgewählte Zimmer</h3>
                </div>
                <div class="extrasContainer">
                    <h3>Amerkungen und Extras:</h3>
                    <textarea name="extras" id="extras" placeholder="  Hier können Sie Anmerkungen/Extra äußern:"></textarea>
                </div>
                <h3 class="total"></h3>
                <p>Zahle den genannten Betrag beim Einchecken</p>
            </div>
        </template>
    </body>
</html>