<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Buchen</title>
        <link rel="stylesheet" href="../style.css">
        <link rel="icon" href="../assets/final_logo_3.svg">
        <script defer src="../bundle.js"></script>
    </head>
    <body>
        <div class="bookingNavbar">
            <img class="bookingLogo" src="../assets/final_logo_2.svg">
            <div class="backToPreviousSite">
                <img src="../assets/icons/arrow_back.svg">
                <p>Zurück</p>
            </div>
        </div>
        <div class="dialog">
            <div class="bookingDialog">
                
            </div>
            <div class="dialogNavigation">
                <button class="dialogBack">Zurück</button>
                <p class="dialogProgress">1 / 3</p>
                <button class="dialogForward">Weiter</button>
            </div>
        </div>
        <template id="one">
            <div class="dialogStepOne">
                <div class="dialogStepOnePart">
                    <div>
                        <label for="arrivalDialog">Anreise:</label>
                        <input type="date" id="arrivalDialog">
                    </div>

                    <div>
                        <label for="departureDialog">Abreise:</label>
                        <input type="date" id="departureDialog">
                    </div>
                </div>
                
                <div class="dialogStepOnePart">
                    <div>
                        <label for="adultsDialog">Erwachsene:</label>
                        <select name="adultsDialog" id="adultsDialog" size="1">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                    </div>

                    <div>
                        <label for="childrenDialog">Kinder:</label>
                        <select name="childrenDialog" id="childrenDialog" size="1">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                    </div>

                    <div>
                        <label for="roomsDialog">Zimmer:</label>
                        <select name="roomsDialog" id="roomsDialog" size="1">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>    
                    </div>
                </div>
            </div>
        </template>
        <template id="two">
            <div class="dialogStepTwo">
                <div class="availableRooms">
        
                </div>
                <div class="selectedRooms">
                    <div class="selectedRoom">
                        <h3>Zimmer 1 / 3: Basic</h3>
                        <p>Preis: 149€ pro Nacht</p>
                    </div>
                </div>
            </div>
        </template>
        <template id="addBasic">
            <div class="basicAvailable">
                <img src="../assets/rooms/basicRoom.jpeg">
                <ul>
                    <p>Basic</p>
                    <li>Balkon</li>
                    <li>Schreibtisch</li>
                    <li>TV, Internet</li>
                    <li>Badezimmer</li>
                    <li>barrierefrei</li>
                    <li>inkl.Frühstück</li>
                </ul>
                <div class="addAvailable">
                    <p>149€ pro Nacht</p>
                    <button class="addAvailableButton">Hinzufügen</button>
                </div>
            </div>
        </template>
        <template id="addFamily">
            <div class="familyAvailable">
                <img src="../assets/rooms/familyRoom.jpeg">
                <ul>
                    <p>Family</p>
                    <li>Balkon</li>
                    <li>Schreibtisch</li>
                    <li>TV, Internet</li>
                    <li>Badezimmer</li>
                    <li>barrierefrei</li>
                    <li>inkl.Frühstück</li>
                </ul>
                <div class="addAvailable">
                    <p>179€ pro Nacht</p>
                    <button class="addAvailableButton">Hinzufügen</button>
                </div>
            </div>
        </template>
        <template id="addPremium">
            <div class="premiumAvailable">
                <img src="../assets/rooms/premiumRoom.jpeg">
                <ul>
                    <p>Premium</p>
                    <li>Balkon</li>
                    <li>Schreibtisch</li>
                    <li>TV, Internet</li>
                    <li>Badezimmer</li>
                    <li>barrierefrei</li>
                    <li>inkl.Frühstück</li>
                </ul>
                <div class="addAvailable">
                    <p>229€ pro Nacht</p>
                    <button class="addAvailableButton">Hinzufügen</button>
                </div>
            </div>
        </template>
    </body>
</html>