<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Buchung stornieren</title>
        <link rel="stylesheet" href="../style.css">
        <link rel="icon" href="../assets/final_logo_3.svg">
        <script defer src="../bundle.js"></script>
    </head>
    <body>
        <div class="bookingNavbar">
            <img class="bookingLogo" src="../assets/final_logo_2.svg">
            <div class="backToPreviousSite">
                <img src="../assets/icons/arrow_back.svg">
                <p>Zurück</p>
            </div>
        </div>
    </body>
</html>