<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Family-ThreeD</title>
        <link rel="stylesheet" href="../style.css">
    <link rel="icon" href="../assets/final_logo_3.svg">
    <script defer src="../bundle.js"></script>
    </head>
    <body style="overflow: hidden;">


			<canvas id="familyCanvas" ></canvas>		

	
    </body>
</html>