<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Grandline Hotel</title>
    <link rel="stylesheet" href="../style.css">
    <script defer src="../bundle.js"></script>
</head>

<body>
    <footer>
        <div id="footer">
        <div>
            <img id="footerLogo" src="../assets/final_logo.svg" alt="">
            <img id="footerLogo2" src="../assets/final_logo_2.svg" alt="">
        </div>
        <div class="footerContainer">
            <div class="footerNav1">
                <b>Hotel</b>
                <br>
                <br> <a href=""> Über uns </a>
                <br> <a href=""> Karriere </a>
            </div>
            <div class="footerNav2">
                <b>Zimmer</b>
                <br>
                <br> <a href=""> Basic </a>
                <br> <a href=""> Family </a>
                <br> <a href=""> Premium </a>
            </div>
            <div class="footerNav3">
                <b>Tagungen/Feier</b>
                <br>
                <br> <a href=""> Überblick </a>
                <br> <a href=""> Tagungen </a>
                <br> <a href=""> Feiern </a>
            </div>
            <div class="footerNav4">
                <b>Aktivitäten</b>
                <br>
                <br> <a href=""> Überblick </a>
                <br> <a href=""> Fitness </a>
                <br> <a href=""> Wellness </a>
            </div>
            <div class="footerNav5">
                <b>Restaurant</b>
                <br>
            </div>
        </div>
        <div class="footerContainer2">
            <a href=""> Kontakt </a>
            <a href=""> Impressum </a>
            <a href=""> Datenschutz </a>
            <a href=""> AGB </a>

        </div>
        </div>
    </footer>
</body>

</html>