<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Grandline Hotel</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" href="../assets/final_logo_3.svg">
    <script defer src="../bundle.js"></script>
</head>

<body>
    <footer>
        <div id="footer">
        <div>
            <img id="footerLogo" src="../assets/final_logo.svg" alt="">
            <img id="footerLogo2" src="../assets/final_logo_2.svg" alt="">
        </div>
        <div class="footerContainer">
            <div class="footerNav1">
                <b>Hotel</b>
                <br>
                <br> <a href="index.html">Homepage</a>
                <br> <a href="aboutUs.html"> Über uns </a>
                <br> <a href="karriere.html"> Karriere </a>
            </div>
            <div class="footerNav2">
                <b>Zimmer</b>
                <br>
                <br> <a href="zimmer.html">Überblick</a>
                <br> <a href="zimmerBasicDetails.html"> Basic </a>
                <br> <a href="zimmerFamilyDetails.html"> Family </a>
                <br> <a href="zimmerPremiumDetails.html"> Premium </a>
            </div>
            <div class="footerNav3">
                <b>Tagungen/Feiern</b>
                <br>
                <br> <a href="meeting.html"> Überblick </a>
                <br> <a href="halls.html"> Räumlichkeiten </a>
                <br> <a href="meetingRequest.html"> Anfragen </a>
            </div>
            <div class="footerNav4">
                <b>Aktivitäten</b>
                <br>
                <br> <a href="aktivitaeten.html"> Überblick </a>
                <br> <a href="restauran.html"> Restaurant </a>
                <br> <a href="fitness.html"> Fitness </a>
                <br> <a href="wellness.html"> Wellness </a>
            </div>
            <div class="footerNav5">
                <b>Meine Buchung</b>
                <br>
                <br> <a href="myBooking.html"> Überblick </a>
            </div>
        </div>
        <div class="footerContainer2">
            <a href="kontakt.html"> Kontakt </a>
            <a href="impressum.html"> Impressum </a>
            <a href=""> Datenschutz </a>
            <a href=""> AGB </a>

        </div>
        </div>
    </footer>
</body>

</html>