<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Tagungsräume</title>
        <link rel="stylesheet" href="../style.css">
        <link rel="icon" href="../assets/final_logo_3.svg">
        <script defer src="../bundle.js"></script>
    </head>
    <body>
        <header>

        </header>
        <main>
            <div class="card1">
                <div class="cardText">
                    <h1>
                        Kleiner Tagungssaal
                    </h1>
                    <div class="cardUnderline"></div>
                    <p>
                        <ul>
                            <li>Kann beispielsweise genutzt werden für Geburtstage o.ä.</li>
                            <li>Für maximal 50 Leute geeignet</li>
                            <li>Folgende Dinge werden von dem Hotel bereitgestellt: Tischen, Stühlen, Beamer, usw</li>
                            <li>Der Preis beträgt 300€/Tag</li>
                        </ul>
                    </p>
                </div>
                <img class="cardImage" src="../assets/homepage/maar.jpg">
            </div>
            <div class="card1 cardReverse">
                <img class="cardImage" src="../assets/homepage/maar.jpg">
                <div class="cardText">
                    <h1>
                        Mittelgroßer Tagungssaal
                    </h1>
                    <div class="cardUnderline"></div>
                    <p>
                        <ul>
                            <li>Kann beispielsweise genutzt werden für größere Geburtstage, Firmenfeiern/Tagungen mittelständiger Unternehmen o.ä.</li>
                            <li>Für maximal 100 Leute geeignet</li>
                            <li>Folgende Dinge werden von dem Hotel bereitgestellt: Tischen, Stühlen, Beamer, Soundsystem usw</li>
                            <li>Der Preis beträgt 400€/Tag</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="card1">
                <div class="cardText">
                    <h1>
                        Großer Tagungssaal
                    </h1>
                    <div class="cardUnderline"></div>
                    <p>
                        <ul>
                            <li>Kann beispielsweise genutzt werden für Hochzeiten, große Tagungen o.ä.</li>
                            <li>Für maximal 150 Leute geeignet</li>
                            <li>Folgende Dinge werden von dem Hotel bereitgestellt: Tischen, Stühlen, Beamer, Soundsystem usw</li>
                            <li>Der Preis beträgt 500€/Tag</li>
                        </ul>
                    </p>
                </div>
                <img class="cardImage" src="../assets/homepage/maar.jpg">
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>