<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Grandline Hotel</title>
        <link rel="stylesheet" href="../style.css">
        <script defer src="../bundle.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <img src="../assets/final_logo_2.svg" class="menuLogo">
                <ul id="menu">
                    <li class="menuItem">
                        Hotel
                    </li>
                    <li>
                        Zimmer
                    </li>
                    <li>
                        Tagungen/Feiern
                    </li>
                    <li>
                        Aktivitäten
                    </li>
                    <li>
                        Restaurant
                    </li>
                </ul>
                <button class="bookingButton">
                    Buchen
                </button>
            </nav>
        </header>
        <main>

        </main>
        <footer>

        </footer>
    </body>
</html>