<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Grandline Hotel</title>
        <link rel="stylesheet" href="../style.css">
        <script defer src="../bundle.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <img src="../assets/final_logo_2.svg" class="menuLogo">
                <ul id="menu">
                    <li class="menuItem">
                       <a class="dropdown-button">Hotel</a>
                        <div class="dropdown-content">
                            <a href="">Über Uns</a>
                            <a href="">Karriere</a>
                            <a href="">Kontakt</a>
                        </div> 
                    </li>
                    <li class="menuItem">
                        <a class="dropdown-button">Zimmer</a>
                        <div class="dropdown-content">
                            <a href="">basic</a>
                            <a href="">family</a>
                            <a href="">premium</a>
                        </div> 
                    </li>
                    <li class="menuItem">
                        <a class="dropdown-button">Tagungen/Feiern</a>
                        <div class="dropdown-content">
                            <a href="">Säle</a>
                            <a href="">Tagungen</a>
                            <a href="">Feiern</a>
                        </div> 
                    </li>
                    <li class="menuItem">
                        <a class="dropdown-button">Aktivitäten</a>
                        <div class="dropdown-content">
                            <a href="">Übersicht</a>
                            <a href="">Wellness</a>
                            <a href="">Fitness</a>
                        </div> 
                    </li>
                    <li class="menuItem">
                        <a class="dropdown-button">Restaurant</a>
                    </li>
                </ul>
                <button class="bookingButton">
                    Buchen
                </button>
            </nav>
        </header>
        <main>

        </main>
        <footer>

        </footer>
    </body>
</html>