<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Grandline Hotel</title>
        <link rel="stylesheet" href="../style.css">
        <link rel="icon" href="../assets/final_logo_3.svg">
        <script defer src="../bundle.js"></script>
    </head>
    <body>
        <header>

        </header>
        <main>
            <div class="card1">
                <div class="cardText">
                    <h1>
                        Herzlich Willkommen
                    </h1>
                    <div class="cardUnderline"></div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio minima officia ipsam placeat necessitatibus temporibus nostrum fuga aperiam quidem at sunt, ipsum asperiores distinctio omnis praesentium dolore animi sit dignissimos.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque praesentium nostrum, non quod quae quia corrupti. Perferendis a, repudiandae, eos doloremque, facilis repellat nobis autem vel nam sint at quis.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, incidunt autem et voluptas odit saepe hic, repellendus modi architecto repellat est labore vel vitae quidem quae? Molestias optio mollitia maxime.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro accusantium error voluptate, odio cumque veritatis quis laboriosam numquam, excepturi aut beatae. Alias sunt, officiis sit quia nisi quas repellendus. Praesentium.
                    </p>
                </div>
                <img class="cardImage" src="../assets/homepage/maar.jpg">
            </div>
            <div class="card1 cardReverse">
                <img class="cardImage" src="../assets/homepage/maar.jpg">
                <div class="cardText">
                    <h1>
                        H1 Lorem Ipsum
                    </h1>
                    <div class="cardUnderline"></div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio minima officia ipsam placeat necessitatibus temporibus nostrum fuga aperiam quidem at sunt, ipsum asperiores distinctio omnis praesentium dolore animi sit dignissimos.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque praesentium nostrum, non quod quae quia corrupti. Perferendis a, repudiandae, eos doloremque, facilis repellat nobis autem vel nam sint at quis.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, incidunt autem et voluptas odit saepe hic, repellendus modi architecto repellat est labore vel vitae quidem quae? Molestias optio mollitia maxime.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro accusantium error voluptate, odio cumque veritatis quis laboriosam numquam, excepturi aut beatae. Alias sunt, officiis sit quia nisi quas repellendus. Praesentium.
                    </p>
                </div>
            </div>
            <div id="map">
                <div class="cardText">
                    <h1>
                        Hier finden Sie uns!
                    </h1>
                    <div class="cardUnderline"></div>
                </div>
                <iframe width="90%" height="400px" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJnSlf3FO3v0cRCbkYyE5vbF8&key=AIzaSyBotT-09erfZ-T2uNTtIvH8Y92dK-ahsS0"></iframe>
                <p class="mapText">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos praesentium sequi alias, assumenda voluptatum sed voluptatem dolor laboriosam nostrum amet animi illum incidunt consequatur sunt, velit cum! Incidunt, exercitationem animi.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, beatae labore! Reprehenderit nobis enim natus assumenda cumque in accusantium maiores fugit, laudantium nostrum, sit aliquam facilis tenetur vitae? Doloribus, repellendus.
                </p>
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>