<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Karriere</title>
        <link rel="stylesheet" href="../style.css">
        <link rel="icon" href="../assets/final_logo_3.svg">
        <script defer src="../bundle.js"></script>
    </head>
    <body>
        <header>
            
        </header>
        <main>
            <div class="card2">
                <div class="cardText">
                    <h1>
                        Unser Hotel als Arbeitgeber
                    </h1>
                    <div class="cardUnderline"></div>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </p>
                </div>
            </div>
            <div class="card2">
                <div class="cardText">
                    <h1>
                        Stellenangebote
                    </h1>
                    <div class="cardUnderline"></div>
                    <p>
                        Senden Sie uns Ihre Bewerbung für eine der unten angegebenen Stellen oder eine Initiativbewerbung
                        per Post oder optimalerweise über das dafür vorgesehene Formular am Ende dieser Seite. 
                        Wir werden uns daraufhin schnellstmöglich bei Ihnen zurückmelden und wünschen Ihnen viel Glück bei Ihrer
                        Bewerbung.
                    </p>
                    <ul>
                        <li>Hausmeister*in (m/w/d)</li>
                        <li>Kellner*in (m/w/d)</li>
                        <li>Aushilfe (m/w/d)</li>
                        <li>Hotelfachfrau/-mann (m/w/d)</li>
                        <li>Rezeptionist*in (m/w/d)</li>
                    </ul>
                </div>
            </div>
            <div class="bewerbung">
                <h1>Bewerben Sie sich bei uns!</h1>
                <div class="underline"></div>
                <form method="post" action="/career" enctype="multipart/form-data">
				    <div class="group">
                        <div class="groupForm">
                         <label for="gender">Anrede* :</label>
				            <select name="gender" id="Anrede">
			        	    	<option value="m">Herr</option>
			            		<option value="w">Frau</option>
				        	    <option value="d">Diverse</option>
				            </select>
                        </div>
                        <div class="groupForm third">
                            <label for="fname">Vorname* :</label>
				            <input name="fname" id="fname" type="text" placeholder="Ihr Vorname" required>
                        </div>

				        <div class="groupForm third">
                            <label for="lname">Nachname* :</label>
				            <input name="lname" id="lname" type="text" placeholder="Ihr Nachname" required>
                        </div>
                    </div>
                    <div class="group">
                        <div class="groupForm half">
                            <label for="email">Email* :</label>
				            <input name="email" id="email" type="email" placeholder="Ihre Email" required>
                        </div>
                        <div class="groupForm half">
                            <label for="phone">Telefonnummer* :</label>
				            <input name="phone" id="phone" type="text" placeholder="Telefonnummer" required>
                        </div>
                    </div>

                    <label for="application">Bewerbung* :</label>
                    <input name="application" id="application" type="file" accept=".pdf" required>

                    <label for="cv">Lebenslauf* :</label>
                    <input name="cv" id="cv" type="file" accept=".pdf" required>

                    <label for="other">Sonstige Datei :</label>
                    <input name="other" id="other" type="file" accept=".pdf">

                    <p>Felder mit * bitte ausfüllen</p>

				    <label for="message">Ihre Nachricht :</label>
				    <textarea name="message" id="message" placeholder="Ihre Nachricht"></textarea>
				    <input id="submitButton" type="submit" value="Senden">
                </form>
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>