<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Tagen und Feiern</title>
        <link rel="stylesheet" href="../style.css">
        <link rel="icon" href="../assets/final_logo_3.svg">
        <script defer src="../bundle.js"></script>
    </head>
    <body>
        <header>

        </header>
        <main>
            <div class="card2">
                <div class="cardText">
                    <h1>
                        Veranstaltungen im Grandline Hotel
                    </h1>
                    <div class="cardUnderline"></div>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio vero cumque accusamus 
                        doloremque sequi? Voluptate voluptates accusamus nesciunt minus quasi eligendi facilis 
                        impedit, sapiente tempora asperiores necessitatibus laboriosam laborum aliquid.
                    </p>
                </div>
            </div>
            <div class="meetingOverview">
                <div class="meetingRooms">
                    <h1>
                        Räumlichkeiten
                    </h1>
                    <div class="cardUnderline"></div>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio vero cumque accusamus 
                        doloremque sequi? Voluptate voluptates accusamus nesciunt minus quasi eligendi facilis 
                        impedit, sapiente tempora asperiores necessitatibus laboriosam laborum aliquid.
                    </p>
                    <a class="meetingLink" href="halls.html">Alle Räume</a>
                </div>
                <div class="meetingRequest">
                    <h1>
                        Anfragen an uns
                    </h1>
                    <div class="cardUnderline"></div>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio vero cumque accusamus 
                        doloremque sequi? Voluptate voluptates accusamus nesciunt minus quasi eligendi facilis 
                        impedit, sapiente tempora asperiores necessitatibus laboriosam laborum aliquid.
                    </p>
                    <a class="meetingLink" href="meetingRequest.html">Anfragen</a>
                </div>
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>