<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Restaurant</title>
	<link rel="stylesheet" href="../style.css">
	<link rel="icon" href="../assets/final_logo_3.svg">
	<script defer src="../bundle.js"></script>
</head>
<body>
	<header>

	</header>
	<main>
		<div class="card2">
			<div class="cardText">
				<h1>
					Restaurant & Lounge
				</h1>
				<div class="cardUnderline"></div>
				<p>
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
					sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
					sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
					Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio vero cumque accusamus
					doloremque sequi? Voluptate voluptates accusamus nesciunt minus quasi eligendi facilis
					impedit, sapiente tempora asperiores necessitatibus laboriosam laborum aliquid.
				</p>
			</div>
		</div>
		<div class="card1">
			<div class="cardText">
				<h1>
					Restaurant
				</h1>
				<div class="cardUnderline"></div>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio minima officia ipsam placeat necessitatibus temporibus nostrum fuga aperiam quidem at sunt, ipsum asperiores distinctio omnis praesentium dolore animi sit dignissimos.
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque praesentium nostrum, non quod quae quia corrupti. Perferendis a, repudiandae, eos doloremque, facilis repellat nobis autem vel nam sint at quis.
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, incidunt autem et voluptas odit saepe hic, repellendus modi architecto repellat est labore vel vitae quidem quae? Molestias optio mollitia maxime.
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro accusantium error voluptate, odio cumque veritatis quis laboriosam numquam, excepturi aut beatae. Alias sunt, officiis sit quia nisi quas repellendus. Praesentium.
				</p>
			</div>
			<img class="cardImage" src="../assets/activities/restaurant.jpg">
		</div>
		<div class="card1 cardReverse">
			<img class="cardImage" src="../assets/activities/foodMenu.jpg">
			<div class="cardText">
				<h1>
					Speisekarte
				</h1>
				<div class="cardUnderline"></div>
				<p>
					Unsere Speisekarte können Sie hier  <a href="../assets/activities/speisekarte_2023_A3_DE_DRUCK.pdf" target="_blank">öffnen</a>
				</p>
			</div>
		</div>
		<div class="card1">
			<div class="cardText">
				<h1>
					Lounge
				</h1>
				<div class="cardUnderline"></div>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio minima officia ipsam placeat necessitatibus temporibus nostrum fuga aperiam quidem at sunt, ipsum asperiores distinctio omnis praesentium dolore animi sit dignissimos.
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque praesentium nostrum, non quod quae quia corrupti. Perferendis a, repudiandae, eos doloremque, facilis repellat nobis autem vel nam sint at quis.
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, incidunt autem et voluptas odit saepe hic, repellendus modi architecto repellat est labore vel vitae quidem quae? Molestias optio mollitia maxime.
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro accusantium error voluptate, odio cumque veritatis quis laboriosam numquam, excepturi aut beatae. Alias sunt, officiis sit quia nisi quas repellendus. Praesentium.
				</p>
			</div>
			<img class="cardImage" src="../assets/homepage/lobby.jpg">
		</div>
</body>
<footer>
	
</footer>