<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Zimmer - Basic</title>
	<link rel="stylesheet" href="../style.css">
	<script defer src="../bundle.js"></script>
</head>

<body>
	<main>
		<div class="basicDetailsContainer">
			<div class="basicDetailsText">
				<b>Zimmer Basic</b>
			<img class="basicDetailsImage" src="../assets/rooms/basicRoom.jpeg" alt="Hotelroom">
	
			<div class="basicDetailsText">
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
					sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
					sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
					Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
	
				</p>
			</div>
			<ul id="basicDetailsList">
				<li>Balkon</li>
				<li>Schreibtisch</li>
				<li>TV, Internet</li>
				<li>Badezimmer</li>
				<li>barrierefrei</li>
				<li>inkl.Frühstück</li>
			</ul>
	
			<button class="bookingButton basicDetailsButton">
				Buchen
			</button>
		</div>
	</main>
	<footer>
		
	</footer>
</body>