<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Zimmer - Family</title>
	<link rel="stylesheet" href="../style.css">
	<link rel="icon" href="../assets/final_logo_3.svg">
	<script defer src="../bundle.js"></script>
</head>
<body>
	<header>
	</header>
	<main>
		<div class="detailsContainer">
			<div class="detailsText">
				<h3>Zimmer Family</h3>
				<div class="cardUnderline"></div>
			</div>
			<div class="imageContainer">
				<div class="slider-wrapper">
					<div class="images">
						<img id="slide-1" src="../assets/image1.jpg" alt="Hotelzimmer 1 von 3">
						<img id="slide-2" src="../assets/image2.jpg" alt="Hotelzimmer 2 von 3">
						<img id="slide-3" src="../assets/image3.jpg" alt="Hotelzimmer 3 von 3">

					</div>
					<div class="slider-nav">
						<a href="#slide-1"></a>
						<a href="#slide-2"></a>
						<a href="#slide-3"></a>
					</div>
					<!-- 
						<span class=" prevBtn arrows">&#8592;</span>
						<span class="nextBtn arrows">&#8594;</span> -->

					

				</div>
				<div class="modal">
					<span class="close">&#10005;</span>
					<div class="modalContent">
						<img src="" alt="" class="modalImg">
						<span class="modalTxt"></span>
						<span class="prevBtn arrows">&#8592;</span>
						<span class="nextBtn arrows">&#8594;</span>
						<!-- <div class="modalNav">
								<button type="button" class="prevBtn">&#8592;</button>
								<button type="button" class="nextBtn">&#8594;</button>
							</div> -->
					</div>
				</div>
			</div>		
				<p class="detailsP">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
					sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
					sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
					Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
				</p>
		
			
			<ul class="detailsList">
				<li>Balkon</li>
				<li>Schreibtisch</li>
				<li>TV, Internet</li>
				<li>Badezimmer</li>
				<li>barrierefrei</li>
				<li>inkl.Frühstück</li>
			</ul>
			<button class="bookingButton detailsButton">
				Buchen
			</button>
		</div>
	</main>
	<footer>
	</footer>
</body>